<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common::head('部门管理')" >
<meta charset="utf-8"/>
</head>
<body>    
    <div class="panel">
    <div class="panel-heading">
      
      <form  role="form" class="form-inline">
					<div class="input-group" >
						<input type="text" value=""  name="name" class="form-control searchVal"  placeholder="按部门名查找">
						<div class="input-group-btn">
						  <span  class="btn btn-primary"  id="search"><i class="glyphicon glyphicon-search"></i></span>						 
						</div>	
						</div>										
				</form>		
    </div>
    <div class="panel-body">     	        
       <table class="table table-bordered table-responsive">
				  <caption>部门列表</caption>
				  <thead>
				    <tr>
				      <th>编号</th>
				      <th>部门名称</th>
				      <th>父级部门</th>		
				      <th>创建人</th>
				      <th>创建时间</th>
				      <th>操作</th>
				    </tr>
				  </thead>
				  <tbody>
				      <th:block th:if="${pageInfo.list != null}">
				          <tr th:each="dept,deptStart: ${pageInfo.list}">
						      <td th:text="${deptStart.count}">560001</td>
						      <td th:text="${dept.name}">Tanmay</td>						 			     
						      <td th:text="${dept?.parentDept?.name}">560001</td>
						      <th th:text="${dept.creater}"></th>
						      <td th:text="${#dates.format(dept.createDate,'yyyy-MM-dd')}">560001</td>
						      <td>
						      
						      <a  class="update" href="/dept/add"  style="color: green;margin-right:20px;" th:title="${dept.id}" ><i class="glyphicon glyphicon-refresh"></i></a>
						      <a  class="remove"  href="/dept/remove" style="color: red"  th:title="${dept.id}"><i class="glyphicon glyphicon-trash"></i></a>
						      
						      </td>
				    		</tr>		
				      </th:block>	
				      
				      <th:block th:if="${pageInfo.list == null}">
				             <a class="">没有数据</a>
				      </th:block>	    
				  </tbody>
			</table>
			
			<nav aria-label="Page navigation">
		  <ul class="pagination">
		   <th:block th:if="${!pageInfo.isFirstPage}">
		     <li>		       
		          <a href="#" aria-label="Previous"  th:href="@{/dept/index(number=${pageInfo.prePage})}" >
		           <span aria-hidden="true">&laquo;</span>
		           </a>		       
		     </li>
		      </th:block>
		    <th:block  th:each="nums:${pageInfo.navigatepageNums}">
		      <li th:class="${nums==pageInfo.pageNum? 'active' : ''}">
		      		<a href="#"  th:href="@{/dept/index(number=${nums})}"  th:text="${nums}">1</a>
		      </li>
		    </th:block>
		    
		    <th:block th:if="${!pageInfo.isLastPage && pageInfo.total >0}">
				    <li>
				      <a href="#" aria-label="Next"   th:href="@{/dept/index(number=${pageInfo.nextPage})}" > 
				        <span aria-hidden="true">&raquo;</span>
				       </a>
				    </li>
		    </th:block>
		     
  		</ul>
</nav>
     </div>
    </div>
    
     <div class="modal fade" id="myModal" tabindex="-1"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"  aria-hidden="true">&times;</button>
				<p class="modal-title" id="myModalLabel">	
				部门操作								
				 </p>
			</div>
			<div class="modal-body">
			       <form action=""  method="post"  class="form rolefrom" >
					       <div class="form-group">
									<input type="number" class="form-control id hidden" >
								</div>
			          <div class="form-group">
							<label for="name">部门名称</label>
							<input type="text" class="form-control name"  placeholder="请输入名称">
						</div>
						<div class="form-group">
							<label for="preDept">选择父级部门：</label>
							<select class="form-control  preDept" name="preDept" >
							        <option value="0">不选择</option>
							        <option  th:each="dept:${allDept}" th:value="${dept.id}" th:text="${dept.name}"></option>
							</select>
						</div>
						<div class="form-group text-righ">						    
						      <button type="submit"   class="submit btn btn-primary pull-right ">创建</button>
						 </div>
						 <div class="clearfix"></div>
			       </form>
					</div>			
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->		
    <script type="text/javascript">
      
      $(function(){
    	  $(".update, .add").on("click",function(){
    		 if($(this).attr("class")=='update'){   			
    			var id= $(this).attr("title");
    			var name=$(this).parent().siblings("td:eq(1)").text();   			
    			$(".rolefrom .id").val(id);
    			$(".rolefrom .name").val(name);   		
    			$(".rolefrom  .submit").text("更新");
    		  }
    		  $("#myModal").modal("show");   		  
    		 return false;
    	  });
    	  
    	  $(".rolefrom").on("submit",function(e){
    		  e.preventDefault();
    		  var url="/dept/add";
    		  var id=null;
    		
    		  if($(".rolefrom .id").val()!=null){
    			  id=parseInt($(".rolefrom .id").val());
    		     }    		  
    		  var name=$(".rolefrom .name").val();  
    		  var preDept=$(".rolefrom .preDept").val();  
    		  alert($(".rolefrom .preDept").val());
    		  var data={id:id,name:name,preDept:preDept};
    		  $.ajax(
    		      		{type:"POST",
    		      		   url: url,
    		      		   contentType:'application/json;charset=utf-8',
    		      		   data: JSON.stringify(data),
    		      		   success: function(data){	  
    		      			 showmsg(data);	
    		      			$(".rolefrom .id").val("");
    		    			$(".rolefrom .name").val(""); 
    		    			$(".rolefrom .preDept").val("");
    		      		   },
    		      		  error: function (xhr) {
    		      	        console.log(xhr);
    		      	    } });
    	     });
    	  $(".remove").on("click",function(){
      	    var url=$(this).attr("href");
      	    var id=$(this).attr("title");
	      	  $.ajax(
	      		{type:"get",
	      		   url: url,
	      		   contentType:'application/json;charset=utf-8',
	      		   data:{id:id},
	      		   success: function(data){	  
	      		   showmsg(data);	
	      		   window.location.href ="/dept/index";
	      		   }});
	      	     return false;
	              });
    	  
    	  $("#search").on("click",function(){
    		      var roleName=$(".searchVal").val();
    		      window.location.href = "/dept/index?name="+roleName; 
    		      return false;
    	      });
          });
       
      function showmsg(data){
    	  if(data.status>200){
		    	toastr.warning(data.msg);  
		       }
		    else{
		    	toastr.success(data.msg);
		      }
		 setTimeout(function(){
			window.location.reload();	      				 
		    },1000);
      }
      
      toastr.options = {  
    	        closeButton: false,  
    	        debug: false,  
    	        progressBar: false,  
    	        positionClass: "toast-bottom-center",  
    	        onclick: null,  
    	        showDuration: "300",  
    	        hideDuration: "1000",  
    	        timeOut: "2000",  
    	        extendedTimeOut: "1000",  
    	        showEasing: "swing",  
    	        hideEasing: "linear",  
    	        showMethod: "fadeIn",  
    	        hideMethod: "fadeOut"  
    	    };  
    </script>
</body>
</html>