<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kc.mapper.DeptMapper">
  <resultMap id="BaseResultMap" type="com.kc.model.Dept">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="creater" jdbcType="VARCHAR" property="creater" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="pre_dept" jdbcType="INTEGER" property="preDept" />
    <association column="pre_dept"  property="parentDept"  select="selectByPrimaryKey"  />
  </resultMap>
    
  <sql id="Base_Column_List">
    id, create_date, creater, name, count, pre_dept
  </sql>
  
  <select id="selectAndPage" resultMap="BaseResultMap">
    select 
    *
     from dept
    <where>
       <if test="id != null">
       and id=#{id,jdbcType=INTEGER} 
      </if>
      <if test="createDate != null">
        and create_date=#{createDate,jdbcType=TIMESTAMP}
      </if>
      <if test="creater != null">
         and creater like '%${creater,jdbcType=VARCHAR}%'
      </if>
      <if test="name != null">
        and  name like '%${name}%'
      </if>
      <if test="count != null">
       and  count=#{count,jdbcType=INTEGER} 
      </if>
      <if test="preDept != null">
        and pre_dept=#{preDept,jdbcType=INTEGER} 
      </if>
    </where>
  </select>
  
  <select id="selById"  resultType="com.kc.model.Dept">
       select * from dept where id=#{0}
   </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dept
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dept
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kc.model.Dept">
    insert into dept (id, create_date, creater, 
      name, count, pre_dept
      )
    values (#{id,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, #{creater,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{count,jdbcType=INTEGER}, #{preDept,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kc.model.Dept">
    insert into dept
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="creater != null">
        creater,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="count != null">
        count,
      </if>
      <if test="preDept != null">
        pre_dept,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="count != null">
        #{count,jdbcType=INTEGER},
      </if>
      <if test="preDept != null">
        #{preDept,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kc.model.Dept">
    update dept
    <set>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null">
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="count != null">
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="preDept != null">
        pre_dept = #{preDept,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kc.model.Dept">
    update dept
    set create_date = #{createDate,jdbcType=TIMESTAMP},
      creater = #{creater,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      count = #{count,jdbcType=INTEGER},
      pre_dept = #{preDept,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>